body {
    background: url("../images/background.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Orbitron;
}

.container {
    margin: 3% auto 3% auto;
}

.card-header {
    border-bottom: 1px solid black;
}

#winner_card {
    /* background: url("../images/rock_win.jpg") no-repeat;
    background-size: cover; */
    height: 230px;
}

#winner,
#player,
#remote,
#scoreboard {
    text-align: center;
    border: 2px solid black;
    box-shadow: 2px 5px 15px black;
}

#stats {
    font-weight: bolder;
    font-size: 20px;
}